* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fdf6f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 22px;
    background-color: #5a1313da;
    align-items: center;
}

.navbar h1 {
    color: white;
    font-size: 36px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
}

.nav-links a:hover {
    letter-spacing: 1px;
    color: rgba(177, 86, 74, 0.904);
}

.content {
    background-image: url(assets/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.hero-text {
    padding-left: 16rem;
    padding-bottom: 8rem;
    color: white;

}

.hero-text h1 {
    font-size: 60px;
}

.hero-text p {
    font-size: 24px;
    margin-top: 16px;
}

.btn {
    border: none;
    padding: 16px;
    border-radius: 16px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(177, 86, 74, 0.904);
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 26px;
}

.cards {
    display: flex;
    gap: 8rem;
    max-width: 1100px;
    margin: 16px auto;
    padding: 0 60px;


}

.title {
    text-align: center;
    margin: 40px;
    color: #5a1313da;
}

.card-info {
    margin-top: 16px;
    text-align: center;
    color: white;
}

.card {
    background-color: rgb(109, 48, 48);
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(44, 26, 14, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.card-info h3 {
    font-size: 26px;
}

.card-info p {
    font-size: 18px;
    margin: 8px;
}

.card-info span {
    border: none;
    padding: 4px 8px;
    background: white;
    color: rgb(109, 48, 48);
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-10px);
}


.features {
    display: flex;
    padding: 60px 40px;
    background: #2c1a0e;
    margin-top: 60px;
}

.feature {
    flex: 1;
    padding: 14px;
    text-align: center;
    border-right: 1px solid #3d2512;
}

.features:last-child {
    border-right: none;
}

.feature-icon {
    font-size: 40px;
    margin-bottom: 16px;
}   

.feature h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
}   

.feature p {
    color: #c9c9c9;
    font-size: 16px;
}       

.footer {
    background: #5a1313da;
    color: white;
    text-align: center;
    padding: 20px;
    
}